body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    font-weight: 400; 
    background-image: url(../images/bg-intro-desktop.png);
    background-color:  hsl(0, 100%, 74%) ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.container .card .containt-left{
    width: 470px;
    color: #fff;
}
.container .card .containt-left .title{
line-height: 38px;
margin-bottom: 15px;
font-size: 35px;
}
.container .card .containt-left .paragraph{
    font-size: 14px;
    opacity: 0.8;
    line-height: 25px;
}
.containt-right .card-price .price{
    background-color: hsl(248, 32%, 49%);
    padding: 10px 15px;
    border-radius: 7px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.containt-right .card-price .price span{
    font-weight: bold;
}
.containt-right .card-price .price:hover{
    opacity: 0.9;
    cursor: pointer;
}
.container .card .card-right{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    gap: 15px;
    border-radius: 7px;
}
.container .card .card-right .input{
    border-radius: 7px;
    padding: 10px;
}
.input{
    border: 1px solid #808080;
}
.card-right .btn{
    background-color: hsl(154, 59%, 51%);
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.card-right .btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.containt-right .terms{
    font-size: 10px;
    text-align: center;
    color: hsl(246, 25%, 77%);
}
.containt-right .terms span{
    color:  hsl(0, 100%, 74%) ;
    font-weight: bold;
    cursor: pointer;
}

.campo-obrigatorio{
    margin-top: -15px;
    font-size: 11px;
    color: red;
    display: flex;
    justify-content: flex-end;
}
.campo-obrigatorio.ativo{
    display: none;
}
.campo-requered{
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: top 8px right 11px;
    background-size: 15px;
    border: 1px solid red;
}
.campo-preenchido{
    border: 1px solid green;
}
